<%- include('partials/header.ejs'); -%>
<img class="logo" src="images/logo.png" alt="">
<h1 class="heading">Edit your District</h1>

<div class="filterContainer">
  <form class="filterForm" action="/getIDDistrict" method="post"> 
      <input class="filterInput" type="text" id="getIDDistrict" name="getIDDistrict" placeholder="Enter your ID">
      <button class="filterBtn" type="submit">Get District</button>
  </form>
</div>

<% if (locals.farmers){ %>
  <% farmers.forEach(function(farmers) {%>
    <div class="mainContainer">
      <div class="editContainer">
        <label>District: </label>
        <p id="prop<%=farmers.district%>"><%= farmers.district %></p>

        <form class="editForm" action="/editdistrict" method="post">
          <input type="hidden" name="id" value="<%= farmers.id %>">
          <input id="input<%=farmers.district%>" type="text" name="district" value="<%= farmers.district %>" autocomplete="off"
            autofocus="true" hidden="true" />
          <button id="done<%=farmers.district%>" type="submit" hidden><img class="icon"
            src="/assets/check-solid.svg" alt="tick image">
          </button>
        </form>
        <button id="edit<%=farmers.district%>" onclick="handler('<%=farmers.district%>')"><img class="icon"
          src="/assets/pencil-solid.svg" alt="pencil image">
        </button>
        
      </div>
    </div>
  <% }) %>
<% } %>

<script>
  function handler(prop) {
    document.getElementById("prop" + prop).setAttribute("hidden", true)
    document.getElementById("edit" + prop).setAttribute("hidden", true)
    document.getElementById("done" + prop).removeAttribute("hidden")
    document.getElementById("input" + prop).removeAttribute("hidden")
  }
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
</script>
<%- include('partials/footer.ejs'); -%>