<%- include('partials/header.ejs'); -%>

<h1 class="heading">Edit your Crop</h1>

<div class="filterContainer">
  <form class="filterForm" action="/getIDCrop" method="post"> 
      <input class="filterInput" type="text" id="getIDCrop" name="getIDCrop" placeholder="Enter your ID">
      <button class="filterBtn" type="submit">Get Crop</button>
  </form>
</div>

<% if (locals.farmers){ %>
  <% farmers.forEach(function(farmers) {%>
    <div class="mainContainer">
      <div class="editContainer">
        <label>Crop: </label>
        <p id="prop<%=farmers.crop%>"><%= farmers.crop %></p>

        <form class="editForm" action="/editcrop" method="post">
          <input type="hidden" name="id" value="<%= farmers.id %>">
          <input id="input<%=farmers.crop%>" type="text" name="crop" value="<%= farmers.crop %>" autocomplete="off"
            autofocus="true" hidden="true" />
          <button id="done<%=farmers.crop%>" type="submit" hidden><img class="icon"
            src="/assets/check-solid.svg" alt="tick image">
          </button>
        </form>
        <button id="edit<%=farmers.crop%>" onclick="handler('<%=farmers.crop%>')"><img class="icon"
          src="/assets/pencil-solid.svg" alt="pencil image">
        </button>
        
      </div>
    </div>
  <% }) %>
<% } %>

<script>
    function handler(prop) {
      document.getElementById("prop" + prop).setAttribute("hidden", true)
      document.getElementById("edit" + prop).setAttribute("hidden", true)
      document.getElementById("done" + prop).removeAttribute("hidden")
      document.getElementById("input" + prop).removeAttribute("hidden")
    }
  </script>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
  </script>
  <%- include('partials/footer.ejs'); -%>